body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.link {
  text-decoration: none;
  color: var(--primary-text-color);
}




.list {
  list-style: none;
  padding: 0;
}

.flex {
  display: flex;
  // flex-direction: row;
}

.no-margin.list {
  margin: 0;
}

.no-margin {
  margin: 0;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--primary-text-color);


  @media screen and (min-width: 1440px) {
    font-size: 32px;
  }
}

.current {
  color: var(--accent-color);
}
