:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-background-color: #2f303a;
  --special-background-color: #f5f4fa;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-margin.list {
  margin: 0;
}

.no-margin {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section,
.section-special-first,
.section-special-second {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-special-first {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .section-special-second {
    padding-top: 47px;
    padding-bottom: 94px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal__close-btn:hover {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn,
.subscribe__btn {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid transparent;
}

.modal__btn:hover, .modal__btn:focus,
.subscribe__btn:hover,
.subscribe__btn:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
}

.social__item {
  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: #afb1b8;
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
}

.social__footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.social__footer-icon {
  fill: var(--primary-white-color);
}

.social__footer-link:hover, .social__footer-link:focus {
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__footer-link:hover .social__footer-icon,
.social__footer-link:focus .social__footer-icon {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invite,
.subscribe {
  margin: 60px 0 0 0;
}

.invite__text,
.subscribe__text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services__title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.employees__suptitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto 10px auto;
}

@media screen and (min-width: 768px) {
  .invite {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .invite,
  .subscribe {
    margin: 0;
  }
}

.button {
  cursor: pointer;
  color: var(--secondary-text-color);
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.button.filter__button {
  color: var(--primary-text-color);
  background-color: var(--special-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 75px;
}

.button.filter__button:hover,
.button.filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section__title {
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.subscribe__form {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  background-color: transparent;
  margin-bottom: 20px;
}

.subscribe__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscribe__input {
    width: 360px;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 500ms linear, visibility 500ms linear;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 96vw;
  max-width: 450px;
  height: 96vh;
  max-height: 610px;
  overflow: auto;
  background-color: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 535px;
    max-height: 580px;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
}

.modal__form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  margin-bottom: 30px;
}

.modal__policy-link {
  color: var(--accent-color);
}

.modal__checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  cursor: pointer;
  margin-right: 6px;
  border-radius: 20%;
}

.modal__checkbox {
  width: 0px;
  height: 0px;
}

.modal__checkbox:checked + .modal__checkbox-icon {
  fill: var(--primary-white-color);
  background-image: url("../images/svg/check.svg");
  background-size: cover;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal__policy-label {
    font-size: 14px;
    line-height: 1.7;
  }
}

.filter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.filter .button {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin: 0 auto 25px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin: 0 auto 50px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ececec;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header-tab {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.logo__header {
  padding: 16px 0;
}

.logo__header--inverse {
  color: var(--primary-text-color);
}

.site-nav,
.auth-nav {
  display: none;
}

.logo__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-header-tab {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: auto 0;
  }
  .site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-decoration: none;
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .current {
    color: var(--accent-color);
  }
  .site-nav .link:hover::after,
  .site-nav .link:focus::after,
  .site-nav .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .nav {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .site-nav__item {
    position: relative;
    display: block;
    padding: 32px 0;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .auth-nav .button {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auth-nav .button:hover, .auth-nav .button:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__icon {
    margin-right: 10px;
  }
  .auth-nav {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .logo__header {
    margin-right: 80px;
    padding: 26px 0;
  }
  .auth-nav__item:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:first-child) {
    margin-top: 0px;
  }
  .auth-nav__item:not(:first-child) {
    margin-left: 50px;
  }
  .logo {
    font-size: 26px;
  }
  .logo__header {
    margin-right: 95px;
    padding: 26px 0;
  }
  .auth-nav {
    font-size: 14px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .header__tel {
    color: var(--accent-color);
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-top: 300px;
  }
  .header__mail-link {
    color: var(--secondary-text-color);
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-top: 32px;
  }
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .burger-btn__icon {
    fill: #212121;
    width: 40px;
    height: 40px;
  }
  .burger-btn__icon:hover, .burger-btn__icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .mobile-menu__container {
    position: relative;
    padding: 60px 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 23px;
    right: 28px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    width: 14px;
    height: 14px;
    stroke: #212121;
    -webkit-transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-icon:hover {
    fill: var(--accent-color);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: fixed;
    visibility: visible;
    pointer-events: auto;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40vw;
    min-width: 100vw;
    height: 100vh;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .nav-list {
    margin-bottom: 50px;
  }
  .nav-list__item {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: left;
    letter-spacing: 0.02em;
  }
  .nav-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .nav-list__link {
    color: var(--primary-text-color);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .mobile-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 65px 0 0 -10px;
  }
  .mobile-social-list__item:not(:last-child) {
    border-right: 1px solid #303030;
  }
  .mobile-social-list__link {
    padding: 0 10px;
    color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__tel,
  .header__mail-link {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logo__icon {
    fill: #303030;
  }
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.intro-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */