.button {
  cursor: pointer;
  color: var(--secondary-text-color);
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
}

.button.filter__button {
  color: var(--primary-text-color);
  background-color: var(--special-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 75px;
}

.button.filter__button:hover,
.button.filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
