.filter {
  align-items: center;
  margin: 0 auto 30px 0;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: reverse;
  justify-content: start;
}

.filter {
  .button {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    margin: 0 auto 25px 0;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .filter {
    margin: 0 auto 50px 0;
    justify-content: center;
  }
}
