.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96vw;
  max-width: 450px;
  height: 96vh;
  max-height: 610px;
  overflow: auto;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1280px) {
  .modal {
    max-width: 535px;
    max-height: 580px;
  }
}
