.subscribe__ {
  &form {
    display: inline-block;
    align-items: center;
  }

  &input {
    width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    background-color: transparent;
    margin-bottom: 20px;
  }

  &input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

// @media screen and (min-width: 768px) {
//   .subscribe__ {
//     &form {
//       // display: inline-block;
//       // margin: 0;
//       // align-items: center;
//       // justify-content: center;
//     }
//   }
// }

@media screen and (min-width: 1440px) {
  .subscribe__ {
    &form {
      display: flex;
    }

    &input {
      width: 360px;
      margin-bottom: 0px;
      margin-right: 12px;
    }
  }
}
