.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.section__title {
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }

  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
