
.footer {
  display: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    height: 220px;
  }
  
  .footer-wrapper {
    width: 1244px;
    position: relative;
    // display: flex;
    // text-align: center;
    // justify-content: center;
    padding: 40px 32px 40px 200px;
    background: linear-gradient(
      to right,
      #72a2dd 0%,
      #94b5de 13.63%,
      #bac9df 31.66%,
      #d8dae0 49.58%,
      #eee6e1 67.13%,
      #fbede1 84.14%,
      #ffffff 100%
    );
  
    //   background-repeat: no-repeat;
    //   background-image: url("../../src/images/png/bird.png");
    //   background-position: bottom 10px right 10%;
  }
  
  .footer-bird {
    position: absolute;
    width: 284px;
    height: 140px;
    bottom: 40px;
    right: 32px;
  }
  
  // .address{
  //   margin: 200px;
  // }
  
  .address__item {
    margin-bottom: 10px;
    font-style: normal;
    font-size: 20px;
  }
  
  .address__subtitle {
    font-style: Regular;
    font-size: 18px;
    line-height: 2.5;
  }
  
  .address__link {
    display: flex;
    align-items: baseline;
    justify-content: center;
  
    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      & .address__button {
        fill: var(--accent-color);
        background-color: var(--primary-white-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  .address__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #c4c4c4;
  }
  

    .footer-wrapper {
      display: flex;
      flex-direction: row;
      text-align: left;
    }
  
    .address__list {
      display: flex;
    }
  
    .address__item {
      margin-right: 90px;
    }
  
    .address__link {
      justify-content: start;
    }
  
  
 
 
}