.page-header {
  display: flex;
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
  align-items: center;
}

.page-header-tab {
  justify-content: space-between;
  align-items: baseline;
}

// .logo {
//   color: var(--accent-color);
//   font-family: Raleway;
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 1.17;
//   text-decoration: none;
// }

.logo__header {
  padding: 16px 0;
}

.logo__header--inverse {
  color: var(--primary-text-color);
}

.site-nav,
.auth-nav {
  display: none;
}

.logo__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-header-tab {
    justify-content: baseline;
    align-items: center;
    flex-grow: 1;
  }

  .site-nav {
    display: flex;
    position: relative;
    margin: auto 0;

    .link {
      color: var(--primary-text-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
    }

    .link:hover,
    .link:focus {
      color: var(--accent-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current {
      color: var(--accent-color);
    }
    .link:hover::after,
    .link:focus::after,
    .current::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }

  .nav {
    align-items: baseline;
  }

  .site-nav__item {
    position: relative;
    display: block;
    padding: 32px 0;
  }

  // .site-nav__item:not(:last-child) {
  //   margin-right: 50px;
  // }

  .site-nav__item {
    margin-right: 30px;
  }

  .auth-nav .button {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .auth-nav__icon {
    margin-right: 10px;
  }

  .auth-nav {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  .logo__header {
    margin-top: 5px;
    margin-right: 30px;
    padding: 32px 0;
  }

  .auth-nav__item:not(:first-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:first-child) {
    margin-top: 0px;
  }

  .auth-nav__item:not(:first-child) {
    margin-left: 50px;
  }

  // .logo {
  //   font-size: 26px;
  // }

  .logo__header {
    margin-right: 115px;
    // padding: 26px 0;
  }

  .auth-nav {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
  }
}

// BURGER

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .header__tel {
    color: var(--accent-color);
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-top: 300px;
  }

  .header__mail-link {
    color: var(--secondary-text-color);
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-top: 32px;
  }

  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    &__icon {
      fill: #212121;
      width: 40px;
      height: 40px;
    }

    &__icon:hover,
    &__icon:focus {
      fill: var(--accent-color);
    }
  }

  .mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    //   transition: opacity 500ms linear, visibility 500ms linear;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    transform: translateY(-100%);

    &__container {
      position: relative;
      // padding-top: 48px;
      // padding-bottom: 48px;
      // padding-left: 35px;
      padding: 60px 35px;
      flex-direction: column;
    }

    &__close-btn {
      position: absolute;
      top: 23px;
      right: 28px;
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }

    &__close-icon {
      // width: 20px;
      // height: 20px;
      // fill: #212121;
      width: 14px;
      height: 14px;
      stroke: #212121;
      transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close-icon:hover {
      fill: var(--accent-color);
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      position: fixed;
      visibility: visible;
      pointer-events: auto;
      z-index: 100;
      top: 0;
      right: 0;
      bottom: 0;
      width: 40vw;
      min-width: 100vw;
      height: 100vh;
      // background-color: var(--menu-bg);
      transform: translateY(0%);
    }
  }

  .nav-list {
    margin-bottom: 50px;
    &__item {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      text-align: left;
      letter-spacing: 0.02em;
    }

    &__item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__link {
      color: var(--primary-text-color);
    }

    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
    }
  }

  .mobile-social-list {
    display: flex;
    margin: 65px 0 0 -10px;

    &__item {
      &:not(:last-child) {
        border-right: 1px solid #303030;
      }
    }

    &__link {
      padding: 0 10px;
      color: var(--accent-color);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22px;
      letter-spacing: 0.02em;
    }
  }
}

@media screen and (min-width: 768px) {
  .header__tel,
  .header__mail-link {
    display: none;
  }

  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .logo__icon {
    fill: #303030;
  }
}


